*{
    box-sizing: border-box;
}
#principal{
    cursor: url('../img/mata_mosca.png'),auto;
    height: 100vh;
    background-image: url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    #level{
        cursor: pointer;
    }

    .btn{
        cursor: pointer;
    }
    
}

#game{
    cursor: url('../img/mata_mosca.png'),auto;
    height: 100vh;
    background-image: url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    #level{
        cursor: pointer;
    }

    img{
        position: absolute;
        height: 500px;
        width: 500px;
    }
}