*{
    box-sizing: border-box;
}
#principal{
    cursor: url('../img/mata_mosca.png'),auto;
    height: 100vh;
    background-image: url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    #level{
        cursor: pointer;
    }

    .btn{
        cursor: pointer;
    }
    
}

#game{
    cursor: url('../img/mata_mosca.png'),auto;
    height: 100vh;
    background-image: url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    #level{
        cursor: pointer;
    }

    img{
        position: absolute;
        height: 500px;
        width: 500px;
    }

    .painel{
        background-color: white;
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 10px;
        .vidas{
            display: flex;
            justify-content: space-around;
            height: 28px;
            margin-bottom: 5px;
            img{
                width: 30px;
                height: 28px;
                position: static;
            }
        }
    }

   
}

